.player {
	position: relative;
}

	.player * {
		height: 100%;
		width: 100%;
	}

	.player-play {
		background: rgba(255, 255, 255, .7);
		display: inline-block;
		height: 40px;
		left: 50%;
		position: absolute;
		top: 50%;
		margin-left: -20px;
		margin-top: -20px;
		width: 40px;
	}
